.answer-button-container {
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .input-container {
      display: flex;
      border: 1px solid black;

      input {
        border: none;
        padding: 5px;

        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }

      .answer-button {
        border: none;
        padding: 5px 10px;
        transition: background-color 0.2s;
        cursor: pointer;
  
        &:hover {
          background-color: rgb(228, 228, 228);
        }
  
        &:focus {
          outline: 0;
          box-shadow: none;
        }
        
        &:active {
          background-color: rgb(190, 190, 190);
        }
      }
    }

  }
}