.game-round-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .top-bar {
    padding: 0 20px;

    .top {
      padding: 10px 0;
      margin: auto;
      width: 80%;
      display: flex;
      justify-content: space-between;

      &.hide {
        display: none;
      }

      .round-header {
        font-size: 52px;
        font-weight: bold;
      }

      .round-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: right;
        text-align: right;

        h3 {
          margin: 0;
          font-size: 24px;
        }
      }
    }

    .dev {
      @include button(100px, 50px);

      font-size: 18px;
      position: absolute;
      top: 17px;
      left: 5px;

      &.hide {
        display: none;
      }
    }
  }

  .content {
    .question-board-container {
      margin: 20px;
      display: flex;
      justify-content: center;

      .content-wrapper {
        padding: 25px;
        background: black;
        width: fit-content;
        display: grid;
        // TODO: make this more robust
        grid-template-columns: repeat(6, 150px);
        grid-gap: 10px;
        justify-content: center;

        .category-container {
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: center;
          display: grid;
          grid-gap: 10px;
          
          .card, .category-header {
            height: 75px;
            width: 150px;
            background: $blue;
          }

          .card {
            color: $yellow;
          }
          
          .category-header {
            font-weight: bold;
            // TODO: Temp fix for long words
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
          }
        }
      }
    }
  }

  .bottom-bar {
    // TODO: Same as top-bar
    height: 50px;
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}