.game-landing-container {
  height: 100%;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 28px;

      input {
        margin: 20px 0;
        padding: 5px;
      }
    }

    .game-button {
      @include button(200px, 75px)
    }
  }
}