@import './global.scss';
@import './app.scss';
@import './game-round.scss';
@import './question-card.scss';
@import './game.scss';
@import './answer-button.scss';
@import './time-remaining.scss';
@import './question-card-display.scss';
@import './landing.scss';
@import './game-landing.scss';
@import './final-round.scss';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

main {
  height: 100%;
}