.question-card {
  // TODO: use sass variable, same as container
  height: 75px;
  width: 150px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  transition: all 1s;

  .detail {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // TODO: Temp solution for overflow
    font-size: 0.6rem;
  }

  .card-score {
    font-size: 36px;
  }
}