.results-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;

  // Same as game round
  width: 1000px;
  height: 550px;
  padding: 25px;

  .results-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $yellow;
    padding: 25px;
    background: $blue;

    h3 {
      font-size: 64px;
      text-align: center;
    }

    a {
      text-decoration: none;
      &:focus, &:visited, &:hover {
        color: black;
      }
      button {
        @include button(150px, 75px);
      }
    }
  }
}